<div class="row align-items-center">
  <div class="col-12 col-md-4 col-lg-3 order-1 my-4">
      <img class="img-info " src="https://picsum.photos/250/250" alt="" align="left">
  </div>
  <div class="col-12 col-md-8 col-lg-9 order-2 my-4">
      <ul class="ps-4 pe-0">
      <li>Desarrollador Backend Java</li>
      <li><a href="https://www.alkemy.org/">Alkemy</a> - Profesional independiente</li>
      <li>Jul 2022 - Oct 2022</li>
      <li>Java - Spring Boot - Spring Security - jwt - MySQL - Git - AWS S3 - Swagger - SendGrid · Scrum</li>
      </ul>
  </div>
  <div class="col-12 order-3 my-4">
      <p>Junto al equipo desarrollamos el backend para un la pagina web de una ONG. Los usuarios y admin pueden acceder y editar distintos datos de la misma.</p>
  </div>
</div>